    /* Color variables*/
:root{
    /* Text-color */
    --color-main: #212121;
    --color-description: #757575;
    --color-light: #ffffff;

    /* Logo */
    --logo-color: #2196F3;
    --logo-color-top: #000000;
    --logo-color-bottom: #ffffff;

    /* background-color */
    --bg-color-header: #ffffff;
    --bg-color-slogan: #2f303a;
    --bg-color-primary: #f5f4fa;
    --bg-color-secondary: #e5e5e5;
    --bg-color-footer:#2f303a;
    --bg-color-cards: #ffffff;

    /* Borders */
    --border-color-cards: #eeeeee;
    --border-top-header: #ececec;

    /*Links*/
    --links-color-header: #757575;
    --links-color-footer: rgba(255, 255, 255, 0.6);

    /* Accents */
    --accent-color: #2094f3;
    --accent-color-slogan-button: #188ce8;
}

    /* Main styles */
body{
    font-family: 'Roboto', sans-serif;
    color: var(--color-main);
    background-color: var(--bg-color-primary);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

    /* Header */
header{
    background: var(--bg-color-header);
    border-top: 1px solid var(--border-top-header);
}

.navbar{
    display: flex;

}

    /* Logo */
.logo{
    display: flex;
    margin-top: 24px;
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--logo-color);
}

.logo-top{
    color: var(--logo-color-top);
}

    /* Navigation */
.navigation{
    display: flex;
    align-content: center;
    flex-direction: row;

    margin-top: 32px;
}



.nav-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 50px;
    color: var(--color-main);
}

.link-top{
    display: flex;
    margin-left: 50px;
}

.address-top{
    display: flex;
    flex-direction: columm;
    margin-top: 32px;

    
}

.link-top{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--links-color-header);
}

    /* Slogan */
.slogan{
    background-color: var(--bg-color-slogan);
    padding-top: 200px;
    padding-bottom: 200px;
}

.slogan-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 30;
    text-transform: uppercase;
    color: var(--color-light);
}

.slogan-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--color-light);
}

    /* Achievements */

.achiev-list{
    display: flex;
    min-width: 270px;
}

.achiev-item:last-child{
    margin-right: 30px;
}

.achiev-title{

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.achiev-description{

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-description);
}

    /* Actions */
.actions-title{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.actions-list{
    display: flex;
}

/* Our team*/
.team{
    background-color: var(--bg-color-secondary);
}

.team-list{
    display: flex;
}

.team-card{

    background: var(--bg-color-cards);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.unit-image{
    width: 270px;
}

/* Footer */
footer{
    background: var(--bg-color-footer);
}

.logo-bottom{
    color: var(--logo-color-bottom);
}

